@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <h1>Welcome to Async Inn. We're Async, it's in the name!</h1>
    </nav>
    <main>
        <section class="main-sec">
            <p>Oh wait, you're an admin. What would you like to do?</p>

            <div class="nav-link">
                <a href="/hotels">Add/Edit a Hotel</a>
            </div>
            <div class="nav-link">
                <a href="/hotelrooms">Add/Edit a Room</a>
            </div>
            <div class="nav-link">
                <a href="/rooms">Add/Edit a Room Layout</a>
            </div>
            <div class="nav-link">
                <a href="/amenities">Add/Edit an Amenity</a>
            </div>
            <div class="nav-link">
                <a href="/roomamenities">Add/Edit a Room Amenity</a>
            </div>
        </section>
    </main>
</body>
</html>